html {
  background: #FFC72C;
}
.logo {
  color: #333;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 40px;
  margin-left: 10px;
  font-size: 50px;
  text-align: center;
}
.categories {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: bold;
    
    
  }
  
  .categories button {
    background-color: #ffffff;
    border: none;
    color: #333;
    padding: 8px 16px;
    margin-right: 1px; 
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 1px;
    height: 50px;
    font-weight: bold;
    box-shadow: 5px 10px;
    margin-right: 20px;
    letter-spacing: 2px;
  }
  
  .categories button:hover {
    background-color: #FFC72C;
    color: #fff;
  }
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    

    
  }
  
  .image-gallery div {
    margin: 10px;
  }
  
  .image-gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 5px 10px #333;
    transition: all 0.5s ease-in-out;
  }

  .image-gallery img:hover {
    opacity: 0.8; /* Reduce opacity to 80% on hover */
    transform: scale(2); /* Scale up the image by 5% on hover */
    transform-origin: center;
    z-index: 1;
    box-shadow: none;
}
  .image-gallery p {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
  
  @media (max-width: 768px) {
    .image-gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .image-gallery img {
      width: 100%;
      max-width: 300px;
      margin: 10px;
    }
  }
  .image-name {
   text-align: center;
   font-weight: 500;
  }

  .image-position {
font-weight: 100;
position: relative;
top: -11px;
}

  /* Styles for phones */
@media only screen and (max-width: 600px) {
  .logo {
    font-size: 10px;
    letter-spacing: 5px;
  }
  .categories button {
    background-color: #ffffff;
    border: none;
    color: #333;
    font-size: 10px;
    margin: -5px;
    margin-top: auto;
  }
  .btn {
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn .icon {
    position: relative;
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
  }

  .btn .text {
    transform: none;
    text-align: center;
  }

  .btn:hover .icon {
    width: 40px;
  }
  .image-gallery img:hover {
    transform: scale(1.02); /* Scale up the image by 20% on hover */
  }
  
}

 

  
  